<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>/微笑</string>
		<string>/撇嘴</string>
		<string>/色</string>
		<string>/得意</string>
		<string>/流泪</string>
		<string>/害羞</string>
		<string>/嘘</string>
		<string>/睡</string>
		<string>/大哭</string>
		<string>/尴尬</string>
		<string>/生气</string>
		<string>/调皮</string>
		<string>/呲牙</string>
		<string>/惊讶</string>
		<string>/难过</string>
		<string>/酷</string>
		<string>/冷汗</string>
		<string>/淘气</string>
		<string>/吐</string>
		<string>/偷笑</string>
		<string>/可爱</string>
		<string>/白眼</string>
		<string>/舔</string>
		<string>/困</string>
		<string>/惊恐</string>
		<string>/汗</string>
		<string>/大笑</string>
		<string>/奋斗</string>
		<string>/咒骂</string>
		<string>/疑问</string>
		<string>/窃笑</string>
		<string>/晕</string>
		<string>/发呆</string>
		<string>/敲打</string>
		<string>/拜拜</string>
		<string>/擦汗</string>
		<string>/抠鼻</string>
		<string>/高兴</string>
		<string>/糗大了</string>
		<string>/傲慢</string>
		<string>/左哼哼</string>
		<string>/右哼哼</string>
		<string>/闭嘴</string>
		<string>/鄙视</string>
		<string>/委屈</string>
		<string>/快哭了</string>
		<string>/阴险</string>
		<string>/亲亲</string>
		<string>/可怜</string>
		<string>/衰</string>
		<string>/骷髅</string>
		<string>/大兵</string>
		<string>/哈欠</string>
		<string>/菜刀</string>
		<string>/干杯</string>
		<string>/吃饭</string>
		<string>/猪头</string>
		<string>/玫瑰</string>
		<string>/凋谢</string>
		<string>/吻</string>
		<string>/爱心</string>
		<string>/心碎</string>
		<string>/蛋糕</string>
		<string>/炸弹</string>
		<string>/便便</string>
		<string>/月亮</string>
		<string>/太阳</string>
		<string>/礼物</string>
		<string>/拥抱</string>
		<string>/给力</string>
		<string>/不给力</string>
		<string>/握手</string>
		<string>/胜利</string>
		<string>/抱拳</string>
		<string>/勾引</string>
		<string>/拳头</string>
		<string>/差劲</string>
		<string>/爱你</string>
		<string>/NO</string>
		<string>/OK</string>
	</array>
	<array>
		<string>/m亲吻屏幕</string>
		<string>/m买买买</string>
		<string>/m中毒</string>
		<string>/mok</string>
		<string>/m偷听</string>
		<string>/m发火</string>
		<string>/m吃东西</string>
		<string>/m吃药</string>
		<string>/m吐舌头</string>
		<string>/m可怜</string>
		<string>/m吐血</string>
		<string>/m吵架</string>
		<string>/m吓宝宝</string>
		<string>/m呕吐</string>
		<string>/m哭笑</string>
		<string>/m大哭</string>
		<string>/m困</string>
		<string>/m委屈哭</string>
		<string>/m头晕</string>
		<string>/m恐怖</string>
		<string>/m戴墨镜</string>
		<string>/m抠鼻子</string>
		<string>/m招手</string>
		<string>/m流口水</string>
		<string>/m流鼻血</string>
		<string>/m烧焦</string>
		<string>/m砸蛋</string>
		<string>/m石化</string>
		<string>/m约吗</string>
		<string>/m耶</string>
		<string>/m肥皂</string>
		<string>/m色迷迷</string>
		<string>/m要脸不</string>
		<string>/m鄙视</string>
		<string>/m馋了</string>
		<string>/m鼓掌</string>
	</array>
	<array>
		<string>/l调皮</string>
		<string>/l色</string>
		<string>/l可爱</string>
		<string>/l衰</string>
		<string>/l哭</string>
		<string>/l大笑</string>
		<string>/l开心</string>
		<string>/l土豪献花</string>
		<string>/l期盼</string>
		<string>/l亲亲</string>
		<string>/l送爱心</string>
		<string>/l冷汗</string>
		<string>/l流汗</string>
		<string>/l睡着</string>
		<string>/l疑惑</string>
		<string>/l海盗</string>
		<string>/l害羞</string>
		<string>/l生气</string>
		<string>/l天真</string>
		<string>/l绅士</string>
		<string>/l轻松熊1</string>
		<string>/l大黄鸭</string>
		<string>/l轻松熊2</string>
		<string>/l凯蒂猫</string>
		<string>/l机器猫</string>
		<string>/l晚安</string>
		<string>/l棒</string>
		<string>/l不给力</string>
		<string>/l你好</string>
		<string>/l生快</string>
		<string>/l蛋糕</string>
		<string>/l喜</string>
		<string>/l樱花</string>
		<string>/l鼓掌</string>
		<string>/l甜甜圈</string>
		<string>/l冰激凌</string>
		<string>/l彩虹</string>
		<string>/l太阳</string>
	</array>
	<array>
		<string>/v疑问</string>
		<string>/v扮酷</string>
		<string>/v擦汗</string>
		<string>/v财迷</string>
		<string>/v超人</string>
		<string>/v抽耳光</string>
		<string>/v聪明</string>
		<string>/v大哭</string>
		<string>/v大笑</string>
		<string>/v蹲墙角</string>
		<string>/v发怒</string>
		<string>/v鼓掌</string>
		<string>/v坏笑</string>
		<string>/v惊讶</string>
		<string>/v鞠躬</string>
		<string>/v可怜</string>
		<string>/v渴望</string>
		<string>/v劳累</string>
		<string>/v卖萌</string>
		<string>/v美人</string>
		<string>/v摸头</string>
		<string>/v强吻</string>
		<string>/v亲密</string>
		<string>/v亲亲</string>
		<string>/v群舞</string>
		<string>/v失望</string>
		<string>/v睡觉</string>
		<string>/v思考</string>
		<string>/v跳舞</string>
		<string>/v吐舌头</string>
		<string>/v微笑</string>
		<string>/v我错了</string>
		<string>/v握手</string>
		<string>/v羞涩</string>
		<string>/v晕</string>
		<string>/v钟爱</string>
		<string>/v撞墙</string>
	</array>
</array>
</plist>
